body {

    font-family: Arial, sans-serif; 
    background-color: #a9a9a9;       
}

img {
    width: 100%;                     
    border-radius: 20px;            
}

button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: #ff8018;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transition */
}

button:hover {
    background-color: #e60000;
    transform: scale(1.10);
}

header .logo {
    padding:20px;
    margin:-25px;
    width: 300px;          
    height: auto;
    border-radius: 100px;  
}
header {
    background-color: #ff6200;
    color: #fff;
    padding: 30px;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;          
    color: #3e96ed;             
}

section h2 {
    text-align: center;
    margin: 20px;
}
.food-grid {
    display: grid;                         
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

section article {
    background-color: #a9a9a9;
    padding: 20px;                  
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
section article:hover {
    background-color: #bcbcbc;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h3 {
    text-align: center;
    margin-top: 30px;
    font-style: italic;
    font-weight: bold;
    color: #000;
}
section.about
{
text-align: center;
}
footer {
    background-color: #ff6200;
    color: white;
    text-align: center;
    padding: 20px;
}
section.animate {
    font-size: larger;
    color: rgb(12, 167, 30);
    font-weight: bold;
    animation:blink 2s infinite;
}
@keyframes blink {
    0% { opacity: 0.01;}
    50% { opacity: 50; }
    100% { opacity: 100; }
}

@media (max-width: 600px) {
    header nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
